openai
tiktoken
pillow
azure-identity
azure-ai-projects 
azure-ai-inference
azure-ai-evaluation
opentelemetry-api
opentelemetry-sdk
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai-v2
opentelemetry-instrumentation-langchain
azure-core-tracing-opentelemetry
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-grpc
semantic-kernel
fastapi 
uvicorn[standard]